.navbar {
    display: flex;
    justify-content: space-between; /* Move the input and buttons apart */
    align-items: center; 
    padding-top: 10px;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: black;
    height: 90px;
}



.two-buttons {
    position: absolute;
    left: 44.5%; /*keeps in center page */
}

.community-button {
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px; 
    margin: 10px 0px 10px 0px; 
}
.community-button.clicked {
    font-weight: bold;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px; 
    margin: 10px 0px 10px 0px; 
}

.friends-button {
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px; 
    margin: 10px 0px 10px 0px;
    
}
.friends-button.clicked {
    font-weight: bold;
    background-color: white;
    color: black;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px; 
    margin: 10px 0px 10px 0px;
    
}

.logo-name {
    padding: 10px 20px;
    font-size: 35px;
    transition: background-color 0.3s;
    height: 40px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
    border-radius: 0px;
    background-image: linear-gradient(45deg, #61f4de, #6e78ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.search-bar {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    background-color: black; 
    padding: 10px 10px; 
    width: 165px;
    justify-content: center;
    font-size: 20px;
    color: white;
    font-weight: 500;
    height: 18px;
    border: none;
    outline: none;
    margin-top:12px;
}

.search-bar::placeholder {
    color: white;
}

.right-side {
    display: flex;
    margin: 10px 30px 10px 10px;
    padding: 10px;
}

.side-bar-button {
    margin: auto;
    font-size: 35px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding-left: 10px;
}

.search-image {
    margin: auto;
    font-size: 30px;
    width: 25px;
    height: 25px;
    padding-bottom: 30px;
    cursor: pointer;
}

/* To do 
Hover effect on magnify glass
Fix styling on sidebar 
profile page fix */