.navbar {
    display: flex;
    padding: 10px 10px 4px 10px;
    
}

.community-button {
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px; 
    margin: 10px 0px 10px 0px; 
}
.community-button.clicked {
    font-weight: bold;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px; 
    margin: 10px 0px 10px 0px; 
}

.friends-button {
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px; 
    margin: 10px 0px 10px 0px;
    
}
.friends-button.clicked {
    font-weight: bold;
    background-color: white;
    color: black;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px; 
    margin: 10px 0px 10px 0px;
    
}

.logo-name {
    padding: 10px 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    height: 20px; 
    margin: 10px 10px 10px 10px;
}

.search-bar {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    background-color: white; /* Dark gray background color */
    border: 1px solid #55595e; /* Dark gray border color */
    border-radius: 25px; /* Slightly larger border radius */
    padding: 10px 10px; /* Increased padding for height and width */
    width: 185px !important; /* Increased width */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow */
    justify-content: center;
    font-size: 16px;
    margin: 10px 0px 10px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: black;
    font-style: bold;
    font-weight: bold;
    height: 20px;
  }