.cover-images {
    position: relative;
    height: 300px;
    width: 300px;
    margin-bottom: 50px;
    margin-left: 70px;
    margin-top: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* box-shadow: 12px 12px 20px 3px #a6a6de; */
    box-shadow: 0 0 0px 0px #a6a6de;
    /* box-shadow: 12px 12px 20px 3px #a6a6de; */
    box-shadow: 0 0 0px 0px #a6a6de;
}

.cover-images:hover {
    transform: translate(-12px, -12px);
    /* box-shadow: 0 0 0px 0px #a6a6de; */
    box-shadow: 12px 12px 20px 3px #a6a6de;
    transform: translate(-12px, -12px);
    /* box-shadow: 0 0 0px 0px #a6a6de; */
    box-shadow: 12px 12px 20px 3px #a6a6de;
}

.profile-content {
    display: flex;
}

.song-info {
    padding: 20px;
    width: 10.5%;
}

.song-name {
    
    white-space: nowrap;
    /* animation: scrollText 10s linear infinite; */
}

.song-player {
    overflow: hidden;
    width: 50vh;
    width: 50vh;
    display: flex;
}

.slide-in {
    transform: translateX(-100%);
    animation: slideIn 0.4s forwards;
}



@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

.slide-left {
    transform: translateX(50%);
    transition: transform 0.2s ease-in-out;
    z-index: -100;
}

/* @keyframes slideIn {
    to {
      transform: translateX(-100%);
    }
  } */

.username-container {
    display: flex;
    justify-content: top;
}


.user-profile-container {
    display: flex;
    width: auto;
    align-items: center;
}

.reaction {
    margin-bottom: 5px;
}

.reaction-emoji-container {
    display: flex;
    justify-content: flex-start;
    height: 40%;
}
