.cover-images {
    height: 300px;
    width: 300px;
    margin-bottom: 50px;
    margin-left: 70px;
    margin-top: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0 0 20px 5px #a6a6de;
}

.cover-images:hover {
transform: scale(1.05); 
}

.profile-content {
    display: flex;
}

.song-info {
   padding: 20px;

}