.second-profile-icon-image {
    width: 35%; 
    border-radius: 50%;
    border-color: azure;
    box-shadow: 0 0 15px 3px black;
    cursor: pointer;
    position: absolute;
    top: 64%;
    left: 52.5%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

