.Sidebar {
    margin-top: 110px;
    position: fixed; /* Fixed position */
    top: 0; /* Stick to the top of the viewport */
    right: -100%; /* Stick to the right side of the viewport */
    width: 40%; /* Set your desired width */
    height: 100vh; /* Take full height of the viewport */
    background-color: black; /* Example background color */
    z-index: 1000; /* Set a high z-index value */
    color: white; /* Text color */
    border-color: white;
    border: solid 1px;
    transition: right 500ms ease;
}

.Sidebar.active {
    right: 0;
    transition: 500ms;
}

.listening-album-cover {
    width: 300px;
    height: 300px;
}