.Sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #14110f;
    color: white;
    width: 30%; 
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%; 
    transition: right 500ms ease;
}

.Sidebar.active {
    right: 0;
    transition: 500ms;
}

.sidebar-top {
    display: flex;
    justify-content: flex-end;
    
    width: 90%;
}

.listening-album-cover {
    width: 375px; 
    height: 375px; 
    margin: 10px; 
    transition: transform 0.3s ease;
    box-shadow: 0 0 15px 5px #a6a6de;
}

.listening-album-cover:hover {
    transform: scale(1.03); 
}

h2 {
    margin: 5px; 
}


