
passage-register {
    width: 80vh;
    --passage-container-background-color: #121212;
    --passage-body-font-family: 'Inter';
    --passage-body-font-size: 14.5px;
    --passage-body-font-weight: 550;
    --passage-body-text-color: white;
    --passage-anchor-text-color: white;
    --passage-anchor-hover-color: grey;
    --passage-anchor-active-color: white;
    --passage-primary-button-background-color: white;
    --passage-primary-button-text-color: black;
    --passage-primary-button-background-hover-color: #6DB7EF;
    --passage-container-padding: 14px 10px 10px;
    --passage-primary-button-border-radius: 28px;
    --passage-primary-button-border-width: 20px;
}





 


  