.profile-image {
    border-radius: 50%;
    padding: none;
    width: 160px; 
    height: 160px;
    transition: transform 0.3s ease;
    box-shadow: 0 0 20px 5px #a6a6de;
}

.user-head { 
    color: white; 
    display: flex;
    padding: 20px;
}
.user-name {
    height: 70px;
    font-size: 60px;
    margin: auto;
    margin-left: 50px;
    color: #fafafa;
    /* color: transparent;
    background-image: linear-gradient(45deg, #61f4de, #6e78ff);
    background-clip: text;
    -webkit-background-clip: text; */
    
}

.follower-stats { 
    color: white;
    display:flex;
    background-image: linear-gradient(45deg, #61f4de, #6e78ff);
    background-clip: text;
    -webkit-background-clip: text;
}

.followers { 
    margin: none;
    font-size: 30px;
    color: #fafafa;
    padding-left: 20px;
   
}
.following {
    margin-left:30px;
    font-size: 30px;
    color: #fafafa;
    padding-left: 20px;
}

.following:hover {
    cursor:pointer;
    text-decoration: underline;
}

.followers:hover {
    cursor:pointer;
    text-decoration: underline;
}