.stats-container {
    color: white;
    display: flex;
}

.stats-container.centered {
    justify-content: center;
}

.music-icon {
    padding-bottom: 8px;
}

.people-icon {
    border-radius: 50%;
    padding-top: 10px;
    display:block;
}

.user-top-artists {
    padding-left: 100px;
    padding-right: 200px;
    color: transparent;
    background-image: linear-gradient(45deg, #61f4de, #6e78ff);
    background-clip: text;
    -webkit-background-clip: text;
    display:inline;
}

.user-top-songs {
    padding-right: 200px;
    color: transparent;
    background-image: linear-gradient(45deg, #61f4de, #6e78ff);
    background-clip: text;
    -webkit-background-clip: text;
}

.user-compatible-friends {
    padding-right: 200px;
    color: transparent;
    background-image: linear-gradient(45deg, #61f4de, #6e78ff);
    background-clip: text;
    -webkit-background-clip: text;
}

.titleTA {
    width: 200%;
    font-size: 17px;
}

.titleTS {
    width: 100%;
    font-size: 17px;
}

.titleCF {
    width: 160%;
    font-size: 17px;
}

/* .no-user-top-artists {
    color: transparent;
    background-image: linear-gradient(45deg, #61f4de, #6e78ff);
    background-clip: text;
    -webkit-background-clip: text;
    display:inline;
    padding-left: 35px;
    padding-right: 10px;
}

.no-user-top-songs {
    color: transparent;
    background-image: linear-gradient(45deg, #61f4de, #6e78ff);
    background-clip: text;
    -webkit-background-clip: text;
    display:inline;
    padding-left: 35px;
} */

.no-spotify {
    color: white;
    padding-left: 42px;
    padding-top: 10px;
}